{% extends 'base.html' %}

{% block content %}

<div class="about">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias veritatis expedita at rem doloribus
        pariatur reprehenderit sapiente laborum nemo, odio cum incidunt ea ratione illo architecto, mollitia atque
        ducimus? Doloremque ratione et repellendus! Beatae debitis harum dolores repellat laudantium eaque expedita.
        Aperiam nemo omnis blanditiis, repudiandae distinctio fuga beatae sapiente.</p>

</div>

{% endblock %}